.weather-application {
  margin-top: 10px;
  margin-left: 10px;
}

.buttons-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-input {
  padding: 5px;
  margin-bottom: 10px;
  width: 50px;
}

.forecast-table th,
.forecast-table td {
  padding-right: 30px; 
}